venv/
__pycache__/
*.pyc
.env
.vercel
node_modules
ui/node_modules
agent-js/node_modules

# macOS
.DS_Store

# VSCode
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*

# LangGraph API
.langgraph_api

